<% content_for :portfolio do %>Portfolio<%end%>
<h1>Portfolio</h1>
<p>This is a p that might as well be a foo.</p>
<p>This is a p that could be called bar.</p>
<p>This paragraph represents xyzzy.</p>
