<div class="container">
  <footer class="row">
    <section class="col-xs-12 col-sm-4">
      Copyright 2016
    </section>
    <section class="col-xs-12 col-sm-8">
      All rights reserved.
    </section>
  </footer>
</div>